################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/SentimentAnalysis/.vs
/SentimentAnalysis/SentimentAnalysis/bin/Debug/net6.0
/SentimentAnalysis/SentimentAnalysis/obj
